<div class="container">
<div class="alert alert-danger col-6" *ngIf="userexists.valueOf(user.email) && userexists.valueOf(user.username)">
  A user with this email or username already exists!!
</div>
</div>



<div class="alert alert-danger col-6" *ngIf="isCreated">
  Congratulations account created successfully!!
</div>

<form class="container-sm" #form="ngForm"  (ngSubmit)="processForm()">
<div class="form-group col-md-6">
  <label for="username">Username</label>
  <input type="text" class="form-control" [(ngModel)]="user.username" #username="ngModel" id="username" name="username" placeholder="username">
  <div *ngIf="userError?.username">
    <small class="text-danger">{{userError.username}}</small>
  </div>
</div>
<div class="form-group col-md-6">
  <label for="email">Email</label>
  <input type="email" class="form-control" [(ngModel)]="user.email" name="email" placeholder="email">
  <div *ngIf="userError?.email">
    <small class="text-danger">{{userError.email}}</small>
  </div>
</div>
<div class="form-group col-md-6">
  <label for="fullname">Full Name</label>
  <input type="text" class="form-control" [(ngModel)]="user.fullname" #username="ngModel" id="fullname" name="fullname" placeholder="Full names">
  <div *ngIf="userError?.fullname">
    <small class="text-danger">{{userError.fullname}}</small>
  </div>
</div>
<div class="form-group col-md-6">
  <label for="password">Password</label>
  <input type="password" class="form-control" [(ngModel)]="user.password" name="password" placeholder="password">
  <div *ngIf="userError?.password">
    <small class="text-danger">{{userError.password}}</small>
  </div>
</div>
<button style="margin-left: 3%;" class="btn btn-success" type="submit" >Register</button>
</form>
<p  class="container">Already have an account?<a routerLink="/login">Login</a></p>
